.knob {
  position: relative;
  flex: none;
  border-radius: 50%;
  background: var(--gradient-knob);
  box-shadow: var(--shadow-knob);
}

.sm {
  width: var(--size-knob-sm);
  height: var(--size-knob-sm);
}

.md {
  width: var(--size-knob-md);
  height: var(--size-knob-md);
}

.lg {
  width: var(--size-knob-lg);
  height: var(--size-knob-lg);
  background: var(--gradient-knob-big);
  box-shadow: var(--shadow-knob-big);
}

.inner {
  position: absolute;
  inset: 6px;
  border-radius: 50%;
  background: var(--gradient-knob-inner);
  box-shadow: var(--shadow-knob-inner);
}

.indicator {
  position: absolute;
  left: calc(50% - 1px);
  top: 2px;
  width: 2px;
  height: 6px;
  border-radius: 1px;
  background: var(--color-ink100);
  box-shadow: var(--shadow-knob-indicator);
}

.md .indicator {
  top: 3px;
  height: 7px;
}

.lg .indicator {
  top: 3px;
  height: 9px;
}

.interactive {
  cursor: ns-resize;
  touch-action: none;
}
